:root {
    --white: #F1FAEE;
    --light-blue: #A8DADC;
    --dark-blue: #1D3557;
    --blue: #457B9D;
    --red: #E63946;
    --light-gray-text: #b1c1c1;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--white);
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

h1, h2,
h4 {
    font-weight: 500;
    margin: 0;
}


#introduction {
    min-height: 100vh;
    display: flex;
    background-color: var(--light-blue);
}

#header {
	width: 300px;
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 20px 2px rgb(255 60 60);
    -moz-box-shadow: 0px 0px 20px 2px rgb(255 60 60);
    box-shadow: 0px 0px 20px 2px rgb(255 60 60);
}

#name-tag-upper {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#name-tag-middle {
    font-family: 'Schoolbell', cursive;
    width: 100%;
    background-color: var(--white);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-tag-middle h1,
p {
	margin: 0;
}

#name-tag-middle p {
	font-size: 13px;
}

ul.social-media-list {
    width: 100%;
    list-style-type: none;
    height: 35px;
    padding-top: 5px;
    background-color: var(--red);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul.social-media-list i {
    padding: 5px;
    width: 36px;
    height: 36px;
    color: var(--blue);
    color: var(--light-blue);
}


ul li {
    display: inline-block;
    margin: 0 10px;
    height: 100%;
}

ul.social-media-list i {
    transition: all 170ms ease-out;
}

ul.social-media-list i:hover {
    color: white;
}

.container {
	padding: 10px;
}

.project {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.project-pic {
	transform: translateX(10%);
	max-width: 50%;
}

.project-pic img {
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
	 0 8px 16px rgba(0, 0, 0, .1);
}

.project-desc {
	width: 290px;
	transform: translateX(-7.5%);
	background-color: var(--dark-blue);
	border-radius: 5px;
	padding: 5px 30px 3px 30px;
	box-shadow: 1px 1px 6px rgba(0,0,0,.29);
	color: var(--light-gray-text);
	text-align: left;
}

.links {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1aff7af0;
}

.links i:first-of-type {
    margin-right: 6px;
}

.links:hover{
    color: #1aff7a96;
}

.links i:hover {
    color: #1aff7af0;
    text-shadow: 0px 0px 10px #1aff7af0, 0px 0px 5px #51ff9bf0;
}


.project-name {
	font-size: 28px;
	color: var(--white)
}

.project-text {
	font-size: 10px;
	margin-top: 10px;
}

.tech-stack {
	display: flex;
	justify-content: space-around;
	margin: 8px 0;
}

.tech-stack li {
	font-size: 10px;
	font-family: 'Courier Prime', monospace;
	color: #1aff7af0;
	text-shadow:0px 0px 10px #1aff7af0, 0px 0px 5px #51ff9bf0;
}

.project-name {
	display: inline-block;
}


@media only screen and (max-width: 767px) {
	.project-pic {
		transform: translateX(0%);
		min-width: 80%;
	}

	.project-desc {
		width: calc(80% - 60px);
		transform: translateX(0%);
	}
}

@media only screen and (max-width: 425px) {
	.project-pic {
		min-width: 100%;
	}

	.project-desc {
		min-width: calc(100% - 60px)
	}
}

.project {
	margin: 80px 0;
}


#about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pic {
    width: 100%;
    border-radius: 50%;
}

#pic-container {
    position: relative;
    margin: 0 auto;
    height: 220px;
    width: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    transform: translateY(-110px);
    z-index: 1;
    border: 4px solid var(--light-gray-text);
}

#pic-container:before {
    display: block;
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 4px solid var(--red);
    margin: 4px;
    border-radius: 50%;
}

*:before {
    box-sizing: border-box;
}


#about .container p{
    text-align: left;
    font-size: 18px;
    margin: 0 0 15px;
}

#about-me {
    background-color: var(--white);
    width: 100vw;
    padding-bottom: 130px;
    border-bottom: 2px solid var(--light-gray-text);
}

#about {
    background-color: var(--light-blue);
}

#about-text {
    padding: 0 15px;
    padding-top: 30px;
    max-width: 500px;
    margin-top: -110px;
}

#about-text p {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.1px;
    font-weight: 500;
}

@media only screen and (min-width: 767px) {
    #about-text {
        max-width: 60vw;
    }

    .project-text {
    font-size: 13px;
    margin-bottom: 10px;
    }

    #about-text p {
        font-size: 20px; 
    }
}

