html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #2b2e3b;
	text-align: center;
	color: #74b1be;
	font-size: 1.3em;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

ul.social-media-list i {
    padding: 5px;
    width: 36px;
    height: 36px;
	color: #74b1be;
}

ul.social-mdeia-list {
	list-style-type: none;
}

ul.social-media-list li {
	display: inline-block;
	margin: 0 10px;
}

ul.social-media-list i {
	transition: all 170ms ease-out;
}

ul.social-media-list i:hover {
	color: #9feaf9;
}

#about p{
	font-size: .8em;
	text-align: left;
}

#about {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#pic {
	margin: 0 auto;
	background-image: url("profile.jpg");
	height: 220px;
	width: 220px;
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
	border: 7px #628586 solid;
}

#about-text{
	padding: 0 15px;
	padding-top: 30px;
	max-width: 500px;
}
