:root {
    --main-bg-color: #F1FAEE;
    --second-bg-color: #A8DADC;
    --main-text-color: #1D3557;
    --second-text-color: #457B9D;
    --accent-color: #E63946;
    --light-gray-text: #b1c1c1;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg-color);
    text-align: center;
    color: var(--main-text-color);
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

h1, h2,
h4 {
    font-weight: 500;
    margin: 0;
}


#introduction {
    min-height: 100vh;
    display: flex;
    background-color: var(--second-bg-color);
}

#header {
	width: 300px;
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 20px 2px rgb(255 60 60);
    -moz-box-shadow: 0px 0px 20px 2px rgb(255 60 60);
    box-shadow: 0px 0px 20px 2px rgb(255 60 60);
}

#name-tag-upper {
    width: 100%;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#name-tag-middle {
    font-family: 'Schoolbell', cursive;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name-tag-middle h1,
p {
	margin: 0;
}

#name-tag-middle p {
	font-size: 13px;
}

ul.social-media-list {
    width: 100%;
    list-style-type: none;
    height: 35px;
    padding-top: 5px;
    background-color: var(--accent-color);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul.social-media-list i {
    padding: 5px;
    width: 36px;
    height: 36px;
    color: var(--second-text-color);
    color: var(--second-bg-color);
}


ul li {
    display: inline-block;
    margin: 0 10px;
    height: 100%;
}

ul.social-media-list i {
    transition: all 170ms ease-out;
}

ul.social-media-list i:hover {
    color: white;
}

.container {
	padding: 10px;
}

.project {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.project-pic {
	transform: translateX(10%);
	max-width: 50%;
}

.project-pic img {
	max-width: 100%;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
	 0 8px 16px rgba(0, 0, 0, .1);
}

.project-desc {
	width: 290px;
	transform: translateX(-7.5%);
	background-color: var(--main-text-color);
	border-radius: 5px;
	padding: 5px 30px 3px 30px;
	box-shadow: 1px 1px 6px rgba(0,0,0,.29);
	color: var(--light-gray-text);
	text-align: left;
}

.project-name {
	font-size: 20px;
	color: var(--main-bg-color)
}

.project-text {
	font-size: 10px;
	margin-top: 10px;
}

.tech-stack {
	display: flex;
	justify-content: space-around;
	margin: 8px 0;
}

.tech-stack li {
	font-size: 10px;
	font-family: 'Courier Prime', monospace;
	color: #1aff7af0;
	text-shadow:0px 0px 10px #1aff7af0, 0px 0px 5px #51ff9bf0;
}

.project-name {
	display: inline-block;
}

.project-desc span {
	position: absolute;
	top: 10px;
	right: 10px;
}


@media only screen and (max-width: 767px) {
	.project-pic {
		transform: translateX(0%);
		min-width: 80%;
	}

	.project-desc {
		width: calc(80% - 60px);
		transform: translateX(0%);
	}
}

@media only screen and (max-width: 425px) {
	.project-pic {
		min-width: 100%;
	}

	.project-desc {
		min-width: calc(100% - 60px)
	}


}

.project {
	margin: 80px 0;
}





















#about p {
    font-size: .8em.
    text-align: left;
}

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pic {
    margin: 0 auto;
    background-image: url("profile.jpg");
    height: 220px;
    width: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    border: 7px #628586 solid;
}

#about-text {
    padding: 0 15px;
    padding-top: 30px;
    max-width: 500px;
}